@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.search-icon {
    position: absolute;
    top: 16px;
    left: 81px;
}
.toggle{
    font-size: 33px;
    margin-left: 10px;
    margin-bottom: 5px;
}
nav{
    height: 62px;
}
.pro-sidebar > .pro-sidebar-inner{
    background: #362465;
    border-radius: 0 86px 0 0;
}
.pro-sidebar-layout{
    overflow: hidden;
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
    overflow: hidden;
}
.website-logo{   
    height: 55px;
    width: auto;   
    padding: 4px;
    /* margin-top: 30px; */
}
.pro-item-content{
    padding-left: 20px;
    font-size: 18px;
}
.menu-items{
    position: absolute;
    left: 16px;
    top: 4px;
    font-size: 20px !important;
}
.pro-menu-item:hover{
    background: whitesmoke;
    color: black !important;
}
.pro-sidebar .pro-menu a{
    color: whitesmoke;    
    font-weight: 550;
}
.pro-sidebar .pro-menu a:hover{
    color: black;
    font-weight: 600;


}
.website-name{
    font-family: 'Playball', cursive;
    font-size: 30px;
    color: white;
    vertical-align: middle;
}
.website-name {
    display: inline-block;
    margin-left: 10px; /* Adjust the spacing between logo and name */
  }
  
  .pro-sidebar.collapsed .website-name {
    display: none; /* Hide the name when collapsed if needed */
  }

