@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.carousel-control-prev,.carousel-control-next{
    display: none;
}
.footer-image{
    padding-top: 100px;
}
.icons{
    list-style: none;
    padding: 0;
    width: 100%;
}
.icons li a{
color: #6e6e6e;
text-decoration: none;
margin-right: 10px;
}
.nav_bar{
    flex-direction: column !important;
}
.category{
    margin-top: 63px;
}
.head{
    font-family: 'Times New Roman', Times, serif !important;
}